.showcase {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.goods-item {
	padding: 10px;
	border: 2px solid rgb(71, 71, 71);
	border-radius: 10px;
	width: 30%;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px rgba(180, 176, 176, 0.432);
	h3 {
		color: gray;
		font-size: 18px;
	}
	p {
		color: red;
		font-size: 14px;
		font-weight: bold;
	}
}